<!DOCTYPE html>
<html lang="en-US">
<script src="angular.min.js"></script>
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">

<body >
<div ng-app="myApp" ng-controller="myCtrl">
<h1 ng-mouseover="count = count+1">The expensive title!</h1>

<p>Type in middel name : <input type="text" ng-model="middelName">
<p ng-bind="name"></p>
{{ firstName + " " + middelName + " " + lastName}}

<h1>Total price: {{ count | currency }}</h1>

<input type="text" ng-model="addMe">
<button ng-click="addItem()">Add</button>
<table>
<tr> 
	<td> </td>
	<td> </td>
	<td> </td>
	<td> </td>
	<td><input type="checkbox" ng-model="all"> Check all </td>
</tr>
<tr  ng-repeat="myName in records | orderBy : 'Name'">
	<td ng-mouseover="removeItem($index)"> Buy </td>
	<td>{{myName.Name}}</td>
	<td>{{myName.Country}}</td>
	<td>{{myName.City}}</td>
	<td> <input type="radio" ng-checked="all"></td>
</tr>

</table>
</div>

<script>
var app = angular.module("myApp", []);
app.controller("myCtrl", function($scope, $http) {
	$scope.firstName = "John";
	$scope.lastName = "Doe";
	$scope.middelName = "bog";
	$scope.count = 0;
	$http.get("http://www.w3schools.com/angular/customers.php")
    		.then(function (response) {$scope.records = response.data.records;});
	$scope.addItem = function () {
		$scope.records.push({"Name":$scope.addMe,"City":"Berlin","Country":"Germany"});
	}
	$scope.removeItem = function (x) {
		$scope.records.splice(x, 1);
		$scope.count += 2;
	} 
});
</script>

</body>
</html> 
